<meta charset="UTF-8">
<title>Grumble</title>


<!--Stylesheets-->
<!--Bootstrap CSS-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--Bootstrap Social CSS-->
<link rel="stylesheet" href="/stylesheets/bootstrap-social.css">
<!--Font Awesome-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
<!--Hover-->
<link rel="stylesheet" href="/stylesheets/hover-min.css">
<!--Custom CSS-->
<link href="/stylesheets/style.css" rel="stylesheet">

<!--Scripts-->
<!--JQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!--Bootstrap JS-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
